html{
  background-color: rgb(214, 248, 248);
}

.container-fluid{
  background-color: rgb(189, 241, 241);

}

input[type="text"]{
   background: transparent; 
  color:rgb(32, 2, 2);
}

input[type="text"]:focus{
  background: transparent;
  color:rgb(22, 1, 1);
}
